body {
    margin: 0;
    font-family: Arial;
}
#map {
    height: 100vh;
    width: 100vw;
}

.header-panel {
    background: white;
    padding: 10px 14px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    font-size: 18px;
    font-weight: bold;
}


.info-panel {
    background: white;
    padding: 12px 14px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 14px;
    min-width: 220px;
}

.info-panel button, .header-panel button {
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.info-panel button:hover, .header-panel button:hover {
    background: #0056b3;
}

.info-panel button.report {
    background-color: #ff2020;
}

.info-panel button.report:hover {
    background-color: #c53030;
}

@media (max-width: 768px) {

    .header-panel {
        width: 100vw;
        height: 60px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }

    .info-panel {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 35vh; 
        max-width: none;

        overflow-y: auto;
        font-size: 1rem;

        border-radius: 0;
        padding: 16px;
    }

    .leaflet-bottom.leaflet-left {
        bottom: 0;
    }

    .leaflet-top.leaflet-right {
        top: 0;
    }
}

@media (max-width: 768px) {
    .info-panel button, .header-panel button {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        margin-top: 6px;
    }
}