<!DOCTYPE html>
<html>
<head>
    <title>UofA Microwave Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    />

    <link rel="stylesheet" href="static/admin.css">

</head>

    <body>

        <h2>Pending Microwaves</h2>
        <button onclick="logout()">Logout</button>
        <div id="list"></div>
        <h2>Microwave's Total Report Data</h2>
        <div id="reports"></div>

        {% comment %} <div id="map"></div>

        
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script> {% endcomment %}
        <script src="/static/admin.js"></script>

    </body>
</html>
